////////////////
//  variables
////////////////
//画面幅
$content_width: 1140px;
$sp_width: 768; // ブレイクポイント幅、mixinに影響あり

//フォント
$font: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
$hiragino: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, 'Helvetica Neue', Arial, sans-serif;
$yugo: 'Yu Gothic', '游ゴシック', 'YuGothic', '游ゴシック体', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;

//カラー
$main: #000;
$sub: #29abe2;
$accent: #c1272d;
$bg_main: #fcee21;
$bg_sub: #f8f9f9;

//パス
$img_path: '../img/';

//ブレイクポイント
$bp-md: 'screen and (max-width: 1000px)';
$bp-sp: 'screen and (max-width: 768px)';
$xl: '1024';
$lg: '960';
$md: '768';
$sm: '540';
$xs: '320';
