<div class="l-grid">
  <div>ヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダーヘッダー</div>
  <div>えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度えー再度</div>
  <div>メインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメインメイン</div>
  <div>フッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッターフッター</div>
</div>