<section class="l-section">
  <div class="l-section-inner">
    <h2 class="m-heading-2">pictureタグ</h2>
    <picture>
      <source media="(max-width: 768px)" srcset="/assets/img/access4.png">
      <img src="/assets/img/bg_main.png" alt="画像">
    </picture>
  </div>
</section>